/*
File sb-css.css is programmed
specially for asmodei.loc by
Ilya A.Zhulin <ilya.zhulin@hotmail.com> 2019
*/
/*
    Created on : 12.09.2019, 9:19:40
    Author     : Ilya A.Zhulin <ilya.zhulin@hotmail.com>
*/

.subform-repeatable-group .btn-toolbar+.control-group,.subform-repeatable-group .control-group.field-spacer+.control-group {
    float: left;
    margin-right: 15px;
}
.control-group.field-spacer {
    border-top: 1px #eee solid;
}
.control-group.field-spacer .control-label label {
    font-weight: bold;
}